<div class="contenedor">
  <h2>Listado de Tarjetas</h2>
  <div class="tabla" *ngIf="listaDeUsuarios.length>0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="expiracion">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.expiracion}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <a href="" class="pointer" matTooltip="Editar Usuario">
            <mat-icon>edit</mat-icon>
          </a>
          <a (click)="eliminarUsuario(i)"  matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <h2 *ngIf="listaDeUsuarios.length==0">No hay mas Usuarios</h2>
</div>