<div class="contenido">
  <h2>Agregar Tarjeta</h2>
  <form [formGroup]="form" (ngSubmit)="crear()">

    <div class="datos">
      <mat-form-field class="llenar" appearance="outline">
        <input matInput placeholder="Titular" formControlName="titulo">
        <mat-icon matSuffix>
          <i class="fa-solid fa-circle-user" [class.green-icon]="this.form.get('titulo')?.valid"
            [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titulo')?.touched"></i>
        </mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="llenar">
        <input matInput placeholder="Numero de Tarjeta" formControlName="numero" maxlength="16">
        <mat-icon matSuffix>
          <i class="fa-solid fa-credit-card" [class.green-icon]="this.form.get('numero')?.valid"
            [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numero')?.touched"></i>
        </mat-icon>
      </mat-form-field>

      <div class="col">

        <div class="fecha">
          <mat-form-field class="date" appearance="outline">
            <input matInput placeholder="MM/YY" formControlName="expiracion" maxlength="5">
            <mat-icon matSuffix>
              <i class="fa-solid fa-calendar-days" [class.green-icon]="this.form.get('expiracion')?.valid"
                [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('expiracion')?.touched"></i>
            </mat-icon>
          </mat-form-field>
        </div>

        <div class="clave">
          <mat-form-field class="password" appearance="outline">
            <input type="password" matInput placeholder="CVV" formControlName="contrasena" maxlength="3">
            <mat-icon matSuffix>
              <i class="fa-solid fa-key" [class.green-icon]="this.form.get('contrasena')?.valid"
                [class.red-icon]="this.form.get('clave')?.invalid && this.form.get('contrasena')?.touched">
              </i>
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <button mat-button color="basic" class="guardar" type="submit">
      <i class="fa-solid fa-database"></i>
      Guardar
    </button>
  </form>

</div>